<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Point Professor App</title>
  <link rel="stylesheet" href="css/Background.css">
  {{{header}}}
</head>

<body>
  <header>
    <span><a href="/"></href><img src="/img/logo.png" alt="Cameron Logo and Homepage button"></a>
      <button class="btn" onclick="window.location.href = '/';">Home</button>
      <button class="btn" onclick="window.location.href = '/info';">Info</button>
      <button class="btn" onclick="window.location.href = '/about';">About</button>
    </span>
  </header>
  {{{body}}}
</body>

</html>