<!doctype html>
<html lang = "en">

<head>
    {{{title}}}
</head>

<body>
  <header>
    <a href="/"></href><img src="/img/logo.png" alt="Cameron Logo and Homepage button"></a>
  </header>
  {{{body}}}
</body>

</html>