<head>
  <link rel="stylesheet" href="css/Background.css">
  <link rel="stylesheet" href="css/about.css">
</head>
<h1 class="Chalky">About the Point Professor App</h1>
<p id="paraBox" class="Chalky">This app was created to help students determine just how much an assignment will affect their grade.
  Many schools and universities use a weighted point system, this tool allows the user to determine how much of a
  percentage those points are worth.
</p>