<head>
    <link rel="stylesheet" href="css/Background.css">
    <link rel="stylesheet" href="css/info.css">
</head>
<h1 class="Chalky">Information on Using the Point Professor App</h1>
<p class="Chalky">
    To Calculate your weighted grade,<br>
    <span id="nofont">1</span>.) Enter the number of points earned (or that you would like to earn).<br>
    <span id="nofont">2</span>.) Enter the total number of points possible (eg: <span id="nofont">1000</span> points).<br>
    <span id="nofont">3</span>.) Enter the percent weight of this category of assignment (eg: Exams are worth <span id="nofont">30%</span> of grade).<br>
    <span id="nofont">4</span>.) Click the Calculate Grade button to view the overall percentage earned.<br>
    <br>
    Assignments can be added to the bottom of the table or the bottommost assignment removed using the corresponding buttons.<br>
    Entries with Zero Weight will not be added to the calculations.<br>
    <br>
    The Calculation is performed by dividing earned points by total points, this is then multiplied by weight and added to the overall total percentage.
</p>