<body>
		<h1>Cameron Raynie &mdash; <span class = "color">Azure</span> Landing Page V2</h1>
		<h2>Links to <span class = "color2">Software Engineering</span> Projects</h2>

		<ul>
			<li><a href="SofEng-Lab2-Syllabus/Syllabus.html">Lab2: Crack Engineering Syllabus</a></li>
			<li><a href="SofEng-Lab2-RegExpTest/regexp.html">Lab2: Regular Expression Tester</a></li>
			<li><a href="SofEng-Lab2-DiceRoller/diceroller2.html">Lab2: Dice Roller 2</a></li>
		</ul>
</body>
