<head>
    <title>Point Professor App V0</title>
    <link rel="stylesheet" href="css/Background.css">
    <link rel="stylesheet" href="PPFiles/PPCss.css">
    <script src="PPFiles/PPjs.js"></script>
</head>

<body>
    <h1 class="Chalky">Point Professor v<span id="nofont">0.5</span></h1>

    <table id="alignTable" class="Chalky2">
        <tr>
            <td><span id="TextLabel">Assignment</span></td>
            <td><span id="PointLabel">Points Earned</span></td>
            <td><span id="TotalPoints">Total Points</span></td>
            <td><Span id="WeightLabel">%Weight</Span></td>
        </tr>
    </table>
    <ol type="1" id="liAssignments">
        <li>
            <input type="text" value="Homework">
            <input id="hw1" type="number" value="90" min="0">
            <input id="total1" type="number" value="100" min="0">
            <input id="weight1" type="number" value="10" min="0">
        </li>
        <li>
            <input type="text" value="Test">
            <input id="hw2" type="number" value="250" min="0">
            <input id="total2" type="number" value="300" min="0">
            <input id="weight2" type="number" value="40" min="0">
        </li>
        <li>
            <input type="text" value="Lab">
            <input id="hw3" type="number" value="600" min="0">
            <input id="total3" type="number" value="600" min="0">
            <input id="weight3" type="number" value="20" min="0">
        </li>
        <li>
            <input type="text" value="Quiz">
            <input id="hw4" type="number" value="45" min="0">
            <input id="total4" type="number" value="50" min="0">
            <input id="weight4" type="number" value="25" min="0">
        </li>
        <li>
            <input type="text" value="Discussion">
            <input id="hw5" type="number" value="10" min="0">
            <input id="total5" type="number" value="10" min="0">
            <input id="weight5" type="number" value="5" min="0">
        </li>
    </ol>
    <p id="Beatles">
        <span id="TotGrade"class="Chalky2">Total Grade: </span>
        <input class="lookEnabled" id="WHO2" type="text2" value="" size="1" disabled>
        <input class="lookEnabled" id="WHO" type="text2" value="0.00" disabled>
    </p>
    <input class="btn2" type="button" value="Calculate Weighted Grade" onclick="calcGrade()">
    <input class="btn2" type="button" value="Add Assignment" onclick="addAssignment()">
    <input class="btn2" type="button" value="Remove Assignment" onclick="removeAssignment()">
    <input class="btn2" type="button" value="Clear Entries" onclick="clearEntries()">

</body>