<head>
    <title>Point Professor App V0</title>
    <link rel="stylesheet" href="PPFiles/PPCss.css">
    <script src="PPFiles/PPjs.js"></script>
</head>

<body onload="refreshAssignments()">
    <h1>Coming Soon to your home PC, Point Professor V1!</h1>

<span id="badAlign">&mdash;&mdash;&mdash;</span><span id="TextLabel">Assignment Type</span><span id="badAlign">&mdash;&mdash;</span><span id="PointLabel">Points Earned</span><span id="badAlign">&mdash;&mdash;</span><span id="TotalPoints">Total Potential Points</span><span id="badAlign">&mdash;&mdash;</span><Span id="WeightLabel">Assignment Weight</Span>
    <ol type="1" id="liAssignments">
        <li>
            <input type="text" value="Homework">
            <input id="ass1" type="number" value="90" min="0">
            <input id="total1" type="number" value="100" min="0">
            <input id="weight1" type="number" value="10" min="0">
        </li>
        <li>
            <input type="text" value="Test">
            <input id="ass2" type="number" value="250" min="0">
            <input id="total2" type="number" value="300" min="0">
            <input id="weight2" type="number" value="40" min="0">
        </li>
        <li>
            <input type="text" value="Lab">
            <input id="ass3" type="number" value="600" min="0">
            <input id="total3" type="number" value="600" min="0">
            <input id="weight3" type="number" value="20" min="0">
        </li>
        <li>
            <input type="text" value="Quiz">
            <input id="ass4" type="number" value="45" min="0">
            <input id="total4" type="number" value="50" min="0">
            <input id="weight4" type="number" value="25" min="0">
        </li>
        <li>
            <input type="text" value="Discussion">
            <input id="ass5" type="number" value="10" min="0">
            <input id="total5" type="number" value="10" min="0">
            <input id="weight5" type="number" value="5" min="0">
        </li>
    </ol>
    <input type="button" value="Calculate Weighted Grade" onclick="calcGrade()">
    <p id="WHO"></p>
</body>